<footer>
  <div class="bg-primary-dark">
    <div class="container py-7 text-white text-normal">
       © 2022 Adam Ptašnik
      <hr class="border-opacity-30 border-t border-white my-5 block">
      <div class="grid sm:grid-cols-2 lg:grid-cols-4 pt-4">
        <div>
          <b>MENU</b>
         <ul class="opacity-70">
           <li><a href="#">Link 1</a></li>
           <li><a href="#">Link 2</a></li>
           <li><a href="#">Link 3</a></li>
         </ul>
        </div>
        <div>
          <b>SLUŽBY</b>
          <ul class="opacity-70">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div>
          <b>DOPLŇUJÍCÍ INFORMACE</b>
          <ul class="opacity-70">
            <li><a href="#">Info o mimosoudním řešení sporů</a></li>
            <li><a href="#">Info o odměně advokáta/Cennik?</a></li>
          </ul>
        </div>
        <div>
          <b>KONTAKTY</b>
          <p>Adresa: <span class="opacity-70">Nádražní 308/3, 702 00 Ostrava</span></p>
          <p>Email:</p>
          <p>Tel:</p>
        </div>
      </div>
    </div>
  </div>

</footer>
