body, html {
  @apply leading-6 text-[18px];
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h2 {
  @apply text-2xl sm:text-[40px] pb-5 text-center border-b border-gray-light
}
.desc-title {
  @apply text-base text-gray-medium pb-2
}
.container {
  @apply mx-auto px-4
}

.bg-light {
  background: #F6F7F8;
}

// Services
.services {
  @apply py-6;
  h4 {
    @apply text-center font-semibold text-lg text-primary leading-snug;
  }

  &__item {
    @apply relative bg-white border border-transparent px-4 pt-4 pb-6 hover:border-primary-light transition rounded-lg;
    box-shadow: 0px 3px 15px 0 rgba(37,55,69,0.1);
    p {
      @apply text-gray py-2;
    }
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      bottom: 20px;
      width: 20px;
      height: 20px;
      background: url("/img/right.svg") no-repeat center center;
      background-size: 30px;
      transition: all 0.25s;
      opacity: 0;
    }
    &:hover:after {
      right: 15px;
      opacity: 1;
    }
  }
}

//Section more
.more-block {
  p {
    @apply py-4 sm:max-w-[800px] mx-auto text-center;
  }

  a {
    @apply underline hover:no-underline text-primary;
  }
}
